#teach {
	
}
#teach>div {
	display: none;
}
.p_un_teach div.un_teach {
	display: block!important;
	margin: 10px auto;
	text-align: center;
	color: #000;
}
.p_un_teach_default div.un_teach_default {
	display: block!important;
	background-image: url("../img/lectern.png");
	width: 560px;
	height: 300px;
	margin: 100px auto;
	text-align: center;
	color: #FFF;
	position: relative;
}
.un_teach_default div {
	width: 300px;
	font-size: 22px;
	position: absolute;
	left: 130px;
	top: 70px;
}
.un_teach img {
	max-width: 98%;
}
.un_teach div {
	margin-bottom: 10px;
	font-size: 22px;
}
.p_teaching div.teaching {
	display: block!important;
	margin: 0!important;
	color: #000!important;
	text-align: left!important;
}
