#teach {
	
}
#teach>div {
	display: none;
	margin: 180px auto;
	text-align: center;
	color: green;
}
.p_unTeach div.unTeach {
	display: block!important;
}
.p_beforeTeach div.beforeTeach {
	display: block!important;
}
.p_waitTeach div.waitTeach {
	display: block!important;
}
.p_afterTeach div.afterTeach {
	display: block!important;
}
.p_teaching div.teaching {
	display: block!important;
	margin: 0!important;
	color: #000!important;
	text-align: left!important;
}
