.item {
	width: 160px;
	height: 140px;
	float: left;
	background-color: rgb(230, 230, 230);
	margin-left: 4px;
	margin-top: 4px;
	position: relative;
}
.item.clickable {
	cursor: pointer;
}
.item img {
	width: 160px;
	height: 120px;
}
.item img.cover {
	opacity: 0.2;
}
.item .name {
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 0;
	background-color: #000;
	text-align: center;
	opacity: 0.75;
	color: #FFF;
	font-size: 18px;
}
.name.me {
	color: yellow!important;
}
.name.girl {
	color: pink;
}
.name.boy {
	color: rgb(166, 166, 255);
}
.item .face {
	position: absolute;
	top: 5px;
	right: 5px;
}
.item .operate {
	position: absolute;
	top: 30px;
	left: 50px;
	cursor: pointer;
}

#courseware .choose {
	margin: 10px;
}
#courseware .choose {
	font-size: 18px;
	font-family: 微软雅黑;
}
#courseware .choose span {
	margin-left: 10px;
	color: #79b70e;
}
#courseware .choose span:first-child {
	margin-left: 0px;
}
#courseware .choose a {
	color: #666;
	margin-left: 5px;
	cursor: pointer;
}
#courseware .choose a.active {
	color: orange;
}

#coursewareDetail .item_title {
	float: left;
	width: 99%;
	margin: 5px;
	font-size: 20px;
	background-color: rgb(220,220,220);
}

.c_icon {
	background-image: url("../img/courseware_icon.png");
	width: 60px;
	height: 60px;
}
.c_icon_video {
	background-position: -9px -10px;
}
.c_icon_exercise {
	background-position: -79px -10px;
}
.c_icon_discuss {
	background-position: -149px -10px;
}

#video {
	position: relative;
}

#video1 {
	position: absolute;
	top; 0;
	left: 0;
}

.video_exercise {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
}

.e_question {
	width: 96%;
	height: 300px;
	margin-left: 20px;
	margin-top: 5px;
	float: left;
}
.e_question img {
	width: 100%;
	height: 300px;
}
.e_answers {
	position: relative;
}
.e_my_answer {
	float: left;
	width: 100%;
	margin: 10px 0 -10px 10px;;
}
.e_answers .e_answer {
	float: left;
	width: 120px;
	height: 120px;
	margin: 10px;
}
.e_answers .e_answer .e_answer_img {
	width: 120px;
	height: 100px;
}
.e_answers .e_answer .e_answer_text {
	text-align: center;
}
.e_page {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
}
.e_page span {
	padding: 5px;
	background-color: rgb(242,204,129);
	margin: 10px;
	border-radius: 8px;
	cursor: pointer;
}

.e_subjective {
	margin: 20px 0 10px 10px;
	float: left;
	position: relative;
	width: 98%;
}
.uploadImg {
	position: relative;
	z-index: 0;
}
.e_upload {
	left: 34%;
	margin-top: 35px;
}
.uploadImg span {
	padding: 5px;
	background-color: rgb(242,204,129);
	margin: 10px;
	border-radius: 8px;
	cursor: pointer;
}
.uploadImg input {
	width: 84px;
	height: 36px;
	position: absolute;
	top: -8px;
	opacity: 0;
}
.qrcode {
	left: 44%;
	position: relative;
	width: 200px;
}
.qrcode img {
	width: 100px;
	height: 100px;
}
.e_subjective_my_answer {
	width: 96%;
	height: 300px;
	margin-left: 10px;
	margin-top: 10px;
}