body {
	width: 100%;
	height: 100%;
	min-height: 400px;
	overflow-x: hidden; 
	margin: 0;
	background: #FFF url(../img/login/bgx.png) repeat-x;
}
.main {
	width: 424px;
	height: 240px;
	background-image: url(../img/login/formBg.png);
	margin: 160px auto;
	border-radius: 10px;
	position: relative;
}
.clear {
	padding-top: 124px;
}
.left {
	float: left;
	margin-left: 24px;
}
.name, .pwd {
	height: 45px;
	width: 276px;
}
.right {
	float: right;
	height: 88px;
	width: 88px;
	background-image: url(../img/login/login.jpg);
	margin-right: 24px;
}
.nameList, .pwdList {
	width: 230px;
	height: 150px;
	position: absolute;
	left: -210px;
	display: none;
}
.nameList {
	top: 120px;
}
.pwdList {
	top: 160px;
}
.nameList.show {
	display: block;
}
.pwdList.show {
	display: block;
}
.n_1, .n_2, .n_3, .n_4, .n_5, .n_6, .n_7, .n_8, .n_9, .n_0, 
.n_01, .n_02, .n_03, .n_04, .n_05, .n_06, .n_07, .n_08, .n_09, .n_00, 
.n_close, .n_back {
	width: 62px;
	height: 62px;
	cursor: pointer;
	float: left;
	margin: 3px;
}
.n_1 {
	background-image: url(../img/login/1.png);
}
.n_2 {
	background-image: url(../img/login/2.png);
}
.n_3 {
	background-image: url(../img/login/3.png);
}
.n_4 {
	background-image: url(../img/login/4.png);
}
.n_5 {
	background-image: url(../img/login/5.png);
}
.n_6 {
	background-image: url(../img/login/6.png);
}
.n_7 {
	background-image: url(../img/login/7.png);
}
.n_8 {
	background-image: url(../img/login/8.png);
}
.n_9 {
	background-image: url(../img/login/9.png);
}
.n_0 {
	background-image: url(../img/login/0.png);
}
.n_01 {
	background-image: url(../img/login/01.png);
}
.n_02 {
	background-image: url(../img/login/02.png);
}
.n_03 {
	background-image: url(../img/login/03.png);
}
.n_04 {
	background-image: url(../img/login/04.png);
}
.n_05 {
	background-image: url(../img/login/05.png);
}
.n_06 {
	background-image: url(../img/login/06.png);
}
.n_07 {
	background-image: url(../img/login/07.png);
}
.n_08 {
	background-image: url(../img/login/08.png);
}
.n_09 {
	background-image: url(../img/login/09.png);
}
.n_00 {
	background-image: url(../img/login/00.png);
}
.n_close {
	background-image: url(../img/login/close.png);
}
.n_back {
	background-image: url(../img/login/back.png);
}
.footer {
	position: fixed;
	z-index: 1;		
}
.footer-img {
	width: 100%;
	height: 70px;
	bottom: 0;
	position: fixed;
}