body {
	width: 100%;
	height: 100%;
	min-height: 310px;
	overflow-x: hidden; 
	margin: 0;
	background: #FFF url(../img/login/bgx.png) repeat-x;
}
.hide {
	display: none;
}
.main {
	width: 424px;
	height: 240px;
	background-image: url(../img/login/formBg.png);
	border-radius: 10px;
	position: absolute;
	left: 300px;
	top: 140px;
}
.clear {
	padding-top: 124px;
}
.left {
	float: left;
	margin-left: 24px;
}
.name, .pwd {
	height: 45px;
	width: 276px;
}
.nameText, .pwdText {
	padding: 5px;
	font-size: 30px;
	letter-spacing: 4px
}
.right {
	float: right;
	height: 88px;
	width: 88px;
	background-image: url(../img/login/login.jpg);
	margin-right: 24px;
}
.nameList, .pwdList {
	width: 230px;
	height: 150px;
	position: absolute;
	left: -210px;
	display: none;
}
.nameList {
	top: 120px;
}
.pwdList {
	top: 160px;
}
.n_1, .n_2, .n_3, .n_4, .n_5, .n_6, .n_7, .n_8, .n_9, .n_0, 
.n_01, .n_02, .n_03, .n_04, .n_05, .n_06, .n_07, .n_08, .n_09, .n_00, 
.n_close, .n_back {
	width: 62px;
	height: 62px;
	cursor: pointer;
	float: left;
	margin: 3px;
	background-image: url(../img/login/icon.png);
}
.n_1 {
	background-position: -80px -150px;
}
.n_2 {
	background-position: -150px -150px;
}
.n_3 {
	background-position: -220px -150px;
}
.n_4 {
	background-position: -290px -150px;
}
.n_5 {
	background-position: -10px -220px;
}
.n_6 {
	background-position: -80px -220px;
}
.n_7 {
	background-position: -150px -220px;
}
.n_8 {
	background-position: -220px -220px;
}
.n_9 {
	background-position: -290px -220px;
}
.n_0 {
	background-position: -10px -150px;
}
.n_01 {
	background-position: -80px -10px;
}
.n_02 {
	background-position: -150px -10px;
}
.n_03 {
	background-position: -220px -10px;
}
.n_04 {
	background-position: -290px -10px;
}
.n_05 {
	background-position: -10px -80px;
}
.n_06 {
	background-position: -80px -80px;
}
.n_07 {
	background-position: -150px -80px;
}
.n_08 {
	background-position: -220px -80px;
}
.n_09 {
	background-position: -290px -80px;
}
.n_00 {
	background-position: -10px -10px;
}
.n_close {
	background-position: -10px -290px;
}
.n_back {
	background-position: -80px -290px;
}
.footer {
	position: fixed;
	z-index: 1;		
}
.footer-img {
	width: 100%;
	height: 70px;
	bottom: 0;
	position: fixed;
}
#msg {
	z-index: 101;
	position: absolute;
	background-color: white;
	height: 100px;
	width: 300px;
	text-align: center;
	line-height: 100px;
	border: 3px solid #ebebeb;
	top: 70px;
	left: 60px;
}
#msg .close {
	cursor: pointer;
}
#cover {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0;
	top: 0;
}