body {
	width: 100%;
	height: 100%;
	min-height: 400px;
	overflow-x: hidden; 
	margin: 0;
}
.hide {
	display: none;
}
.main {
	width: 100%;
	height: 100%;
	min-height: 330px;
	z-index: 0;
}
.left {
	float: left;
	width: 16%;
	background: #297dc3;
	min-height: 330px;
	text-align: center;
}
.logo {
	margin-top: 20px;
}
ul li {
	list-style: none;
}
.right {
	float: left;
	width: 84%;
	background: #FFF url(../img/rightbg.jpg) repeat-x;
}
.content {
	min-height: 290px;
	margin: 20px;
	background: #FFF;
	width: 96%;
	position: relative;
}
.content.full {
	position: fixed;
	margin: 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}
.outerPage {
	overflow: auto;
}
.scroll {
	-webkit-overflow-scrolling:touch;
}
.title {
	height: 40px;
	background-color: rgb(238,238,238);
}
.title div {
	margin-left: 10px;
	position: relative;
	top: 10px;
	float: left;
}
#location a{
	color: rgb(8, 115, 252);
	cursor: pointer;
}
#location a:last-child{
	cursor: auto;
	color: green!important;
}
#fullIcon {
	position: absolute;
	top: 0px;
	right: 0px;
}
.footer {
	position: fixed;
	z-index: 1;		
}
.footer-img {
	width: 100%;
	height: 70px;
	bottom: 0;
	position: fixed;
}
.icon {
	background-image: url(../img/icon.jpg);
	width: 40px;
	height: 40px;
}
.icon-full {
	background-position: -157px -98px;
}
.icon-full.unclickable {
	cursor: default;
}
.full .icon-full {
	background-position: -92px -98px;
}
.left ul {
	padding: 0;
}
.left ul li {
	list-style: none;
	color: #FFF;
	line-height: 40px;
}
.left ul li a {
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
}
.left ul li.active {
	background-color: rgb(19, 62, 96);
}
#contentModal.active {
	width: 100%;
	height: 40px;
	position: absolute;
	background-color: #FFF;
	z-index: 9999;
	top: 0;
	opacity: 0.6;
}
.page {
	text-align: center;
	margin-top: 20px;
}
.page a {
	margin-right: 10px;
	color: gray;
}
.page a.clickable{
	color: rgb(8, 115, 252);
	cursor: pointer;
}

#msg {
	position: fixed;
	z-index: 99999;
	width: 250px;
	height: 125px;
	right: 5px;
	bottom: -250px;
	background-color: rgb(222, 222, 222);
	opacity: 0.8;
	border: 1px solid gray;
	border-radius: 4px;
}
#msg .msgTitle {
	padding: 5px;
	background-color: rgb(85, 170, 45);
	height: 20px;
}
#msg .titleText {
	float: left;
}
#msg .msgContent {
	padding: 5px;
	text-align: center;
}
#msg .close {
	background-image: url(../img/close.png);
	width: 12px;
	height: 12px;
	float: right;
	margin: 3px;
	background-repeat: no-repeat;
	padding: 5px;
	margin-right: -2px;
}
#msg.info .titleText {
	color: green;
}
#msg.warning .titleText {
	color: yellow;
}
#msg.error .titleText {
	color: rgb(255, 63, 63);
}
.icon_face {
	width: 30px;
	height: 30px;
	background-image: url("../img/icon_face.png");
}
.icon_face.laugh {
	background-position: -5px -5px;
}
.icon_face.smile {
	background-position: -45px -5px;
}
.icon_face.sad {
	background-position: -45px -5px;
}
.icon_face.cry {
	background-position: -45px -45px;
}

.btn {
	padding: 10px;
	background-color: rgb(242,204,129);
	border-radius: 6px;
	cursor: pointer;
}
#imageViewBg {
	position: fixed;
	z-index: 99997;
	width: 98%;
	height: 600px;
	top: 10px;
	left: 10px;
	background-color: #000;
	opacity: 0.8;
	border: 1px solid #FFF;
	border-radius: 10px;
}
#imageView {
	position: fixed;
	z-index: 99998;
	top: 10px;
	left: 10px;
	width: 98%;
	height: 600px;
}
.iv-img {
	position: relative;
	width: 98%;
	height: 98%;
	margin: 1%;
	overflow: auto; 
	text-align: center;
}
.iv-close {
	background-image: url("../img/iv-close.png");
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
}
.iv-zoom-scale {
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 1;
	font-size: 20px;
	color: #F00;
}
